header[role="banner"] {
    nav[role="navigation"] {
        .navbar-brand > img {
            height: $header-height - $navbar-padding-horizontal;
        }

        .nav-item {
            color: $brand-primary;
        }
    }
}

footer[role="contentinfo"] {
    border-top: 1px solid #E5E5E5;
    color: $gray-light;
    height: $footer-height;
    padding: 30px 0 20px 0;
    position: absolute;
    text-align: center;
    width: 100%;

    ul {
        list-style: none;
    }

    ul.social-buttons {
        list-style-type: none;

        li {
            display: inline-block;
            line-height: 1;
            padding: 5px 8px;
        }
    }

    nav.menu {
        margin-top: 10px;
        margin-bottom: 10px;

        .nav-link {
            margin-right: 30px;
        }
    }

}

.masthead {
    background-color: $brand-info;
    text-align: center;
    color: #FFFFFF;

    .silhouette {
        width: 250px;
        margin-bottom: 30px;
    }
}

@include media-breakpoint-up(sm) {
    .masthead {
        padding: 80px 0;

        p.lead {
            font-size: 30px;
        }
    }
}

.feature {
    padding: 60px 0;
}

#media {
    margin-top: 30px;
    margin-bottom: 30px;

    .embed {
        margin-bottom: 30px;
    }
}

.third-party {
  .row {
    padding-bottom: 1rem;
  }

  img {
    width: 50px;
  }
}
