@import "bootstrap/vendor/variables";
@import "font-awesome/vendor/variables";

// Will be possible in 2nd alpha
// See: https://github.com/twbs/bootstrap/issues/17046
//$enable-flex: true;

$brand-primary: #131f47;
$brand-info: #27aae2;
$brand-success: #84c341;
$brand-warning: #fbbd12;
$brand-danger: #f05223;

$header-height: 54px;
$footer-height: 200px;
