<header role="banner">
    <nav class="navbar navbar-light bg-faded" role="navigation">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{{ '/assets/img/logo.png' | prepend: site.baseurl }}" alt="{{ site.title }}">
            </a>
            <ul class="nav navbar-nav pull-right">
                {% for item in site.data.navigation %}
                    <li class="nav-item{% if page.url == item.url %} active{% endif %}">
                        <a class="nav-link" href="{{ item.url }}"{% if item.title %} title="{{ item.title }}" {% endif %}{% if item.external %} target="_blank"{% endif %} data-toggle="tooltip" data-placement="bottom">
                            {% if item.icon %}<span class="fa fa-{{ item.icon }}"></span> {% endif %}
                            {% if item.label %}{{ item.label }}{% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
</header>
