---
---
@charset "utf-8";

@import "variables";
@import "bootstrap/bootstrap";
@import "font-awesome/font-awesome";

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: $header-height + 30px;
    padding-bottom: $footer-height + 30px;
}

footer[role="contentinfo"] {
    background-color: darken($gray-dark, 8%);
    bottom: 0;
    color: $gray-lightest;
    height: $footer-height;
    padding: 30px 0 20px 0;
    position: absolute;
    width: 100%;

    a {
        color: $gray-lightest;
    }

    ul {
        list-style: none;
    }
}
